.bottom-line {
  height: 0.4rem;
  width: 90%;
  background: #027aca;
  display: block;
  margin: 2rem auto;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(10px);
  opacity: 1;
}
