@import "global";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lalezar", cursive;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

body {
  margin: 0 10rem;
}

.parallax {
  background: url("../img/main_kv.jpg") fixed center/100%;
  //navbar
  .main-nav {
    text-transform: uppercase;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 100;
    ul {
      display: flex;
      list-style: none;
      color: white;
      //umieszcza menu po lewej str
      justify-content: flex-end;
      li {
        // margin: 0 20px;
        // float: right;
        padding: 1rem 1.5rem;
        //stylowanie każdego elementu z listy
        a {
          text-decoration: none;
          color: #fff;
          // border-bottom: 3px white solid;
          padding-right: 1rem;
          transition: border-color 0.5s;
        }
        a:hover {
          border-bottom: #027aca 2px solid;
        }
      }
    }
  }
  .parallax-inner {
    color: white;
    padding-top: 15%;
    text-align: center;

    .header-content {
      text-align: center;
      padding-bottom: 7%;
      h1 {
        text-transform: uppercase;
        font-size: 6rem;
      }
      h3 {
        font-size: 3rem;
        padding-top: 1rem;
      }
      p {
        padding-top: 5rem;
        font-size: 2.4rem;
      }
    }
  }
}
//zakres działania
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
  h2 {
    font-size: 40px;
  }
  .card-container {
    display: flex;
    .card-wrapper {
      cursor: pointer;
      margin: 0 20px;
      .card {
        width: 230px;
        height: 325px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        perspective: 1000px;
        transform: perspective(1000px) translateY(0);
        transform-style: preserve-3d;
        transition: transform 0.8s ease-in-out;
        .text-overlay {
          transform: perspective(1000px) translateY(0) translateZ(80);
          transition: transform 0.8s ease-in-out, opacity 1s ease;
          padding-top: 40px;
          text-align: center;
          h2 {
            font-size: 0.9rem;
            font-weight: 500;
            margin-top: 20px;
            font-size: 1.5rem;
          }
          .details-text {
            margin-top: 20px;
            display: flex;
            gap: 10px 10px;
            align-items: center;
            text-align: center;
            flex-direction: column;
            color: gray;
            font-size: 0.75rem;
          }
        }
        .back-text {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          left: 0;
          top: 0;
          transform: perspective(1000px) rotateY(179deg) translateY(0)
            translateZ(80px);
          opacity: 0;
          z-index: -1;
          transition: transform 0.8s ease-in-out, opacity 1s ease;
          width: 100%;
          height: 100%;
        }
      }
      .card.light {
        background-color: white;
        color: black;
        text-align: center;
      }
    }
    .card-wrapper:hover .card {
      transform: rotateY(179deg);
      z-index: 2;
    }
    .card-wrapper:hover .card .text-overlay {
      opacity: 0;
      transform-style: preserve-3d;
      z-index: 1;
    }
    .card-wrapper:hover .card .back-text {
      opacity: 1;
    }
  }
}

//about
#about {
  // background-image: url("../img/about.jpg");
  // background-repeat: no-repeat;
  text-align: center;
  padding: 5rem 0;
  background-color: rgb(182, 182, 182);
  h2 {
    font-size: 40px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      p {
        max-width: 80%; /* Maksymalna szerokość tekstu */
      }
    }
    .graphic-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .image {
        max-width: 100%; /* Maksymalna szerokość obrazu */
        max-height: 500px; /* Maksymalna wysokość obrazu */
      }
    }
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  .testimonial {
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}

//bottom
.bottom .parallax-inner-bottom {
  //dodaje przezroczyste niebieskie tło pod formularz
  background-color: rgba(7, 109, 192, 0.5);
  text-align: center;
  color: white;
  padding: 2.5rem;
  h2 {
    font-size: 40px;
  }
}

/* Formularz kontaktowy */
.callback-form {
  width: 100%;
  margin-bottom: 60px;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 20%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}
.callback-form textarea {
  width: 20%;
  padding: 4px;
  height: 80px;
  border: #f5f5f5 1px solid;
}

/* ramka zaznaczonego pola w formularzu ma inny kolor */
.callback-form input:focus {
  outline-color: rgb(7, 135, 240);
}
.callback-form textarea:focus {
  outline-color: rgb(7, 135, 240);
}

.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 10px 10px 10px;
  border: solid #0590e6 2px;
  text-decoration: none;
  width: 40px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

@media (max-width: 1460px) {
  .callback-form input {
    width: 300px;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
  }
  .callback-form textarea {
    width: 300px;
    padding: 4px;
    height: 80px;
    border: #f5f5f5 1px solid;
  }
  .callback-form button {
    width: 200px;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
  }
}

@media (max-width: 1070px) {
}
